@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'inter';
    line-height: 1.6;
    color: #333;
    background-color: #f5f8ff;
}

/* Thunder */

.homepage-thunder {
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 1000px;
}

.homepage-thunder img {
    width: 100%;
    overflow: hidden;
}




/* Navabr */


.header-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 112px;
    align-items: center;
    gap: 20px;
    position: fixed;
    max-height: 80px;
    z-index: 10;
}

.logo-container {
    flex-basis: 20%;
    max-width: 170px;
}

.logo-container img {
    width: 100%;
    max-width: 170px;
    height: 37px;
    object-fit: contain;
}

.nav-links {
    flex-basis: 60%;
    max-width: 490px;
    max-height: 65px;
    display: flex;
    justify-content: space-around;
    gap: 45px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px 45px;
    border-radius: 20px;
    overflow: hidden;
}

.nav-link {
    cursor: pointer;
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}

.nav-link:hover {
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
}

.nav-link.active {
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.auth-container span {
    font-size: 16px;
    font-family: "inter";
    font-weight: 400;
    color: rgba(137, 135, 161, 1);
    min-width: 52px;
    width: fit-content;
    text-overflow: clip;
}

.register-btn {
    width: 132px;
    min-width: 100px;
    height: 48px;
    font-size: 16px;
    font-family: "inter";
    color: rgba(255, 255, 255, 1);
    background-color: rgba(78, 71, 255, 1);
    border-radius: 10px;
    border: none;
}

.animatedbg {
    background-image: url("assets/Group\ 27169.svg");
    background-position: center center;
    background-size: cover;
    background-color: #f5f8ff;
}

@media only screen and (max-width: 1200px) {
    .header-nav {
        padding: 20px 80px;
    }

    .nav-links {
        gap: 30px;
        padding: 15px 30px;
    }

    .auth-container {
        gap: 15px;
    }

    .register-btn {
        width: 100px;
        height: 40px;
    }


}

@media only screen and (max-width: 992px) {
    .header-nav {
        padding: 20px 40px;
    }

    .nav-links {
        flex-direction: row;
        gap: 15px;
        padding: 10px 20px;
    }

    .auth-container {
        flex-direction: row;
        gap: 10px;
    }

    .register-btn {
        width: 100%;
        height: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .header-nav {
        padding: 15px 20px;
        justify-content: space-evenly;
    }

    .header-nav .nav-links {
        display: none;
    }

    .auth-container {
        padding: 10px 15px;
    }

    .register-btn {
        width: 100%;
        height: 35px;
    }
}

@media only screen and (max-width: 480px) {
    .header-nav {
        padding: 10px 15px;
    }

    .header-nav .nav-links {
        display: none;
    }

    .auth-container {
        padding: 5px 10px;
    }

    .register-btn {
        width: 100%;
        height: 30px;
    }
}


/* Homepage  */

.homepage-container {
    width: 100%;
    padding-top: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-div {
    max-width: 764px;
    text-align: center;
    font-family: "raleway";
    margin: 104px 0px;
}

.homepage-div p {
    color: #252432;
    font-weight: 700;
    font-family: 'raleway';
    font-size: 73.34px;
    line-height: 73.34px;
}

.homepage-div button {
    width: 211px;
    height: 60px;
    border-radius: 10px;
    font-weight: 400;
    color: #ffff;
    font-size: 16px;
    font-family: "inter";
    background-color: #252432;
    margin-top: 45px;
}



@media (max-width: 1200px) {
    .homepage-div {
        max-width: 600px;
        margin: 90px 0px;
    }

    .homepage-div p {
        font-size: 50px;
        line-height: 50px;
    }

    .homepage-div button {
        width: 150px;
        height: 40px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .homepage-div {
        max-width: 400px;
        margin: 50px 0px;
    }

    .homepage-div p {
        font-size: 30px;
        line-height: 30px;
    }

    .homepage-div button {
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .homepage-div {
        max-width: 300px;
        margin: 30px 0px;
    }

    .homepage-div p {
        font-size: 20px;
        line-height: 20px;
    }

    .homepage-div button {
        width: 80px;
        height: 25px;
        font-size: 10px;
    }
}

/* Services Section  */

.services-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0px 112px;
}

.services-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.services-info>p {
    color: #252432;
    font-weight: 700;
    font-family: 'raleway';
    font-size: 60px;
    line-height: 72px;
}

.services-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}

.services-card {
    width: 100%;
    padding: 29px 24px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    border-radius: 10px;
    border: 1px;
    background-color: #fff;
}

.two-rows {
    width: 100%;
    padding: 29px 24px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px;
    background-color: #fff;
    grid-row: span 2;
    gap: 40px;
}

.two-cols {
    width: 100%;
    padding: 29px 24px;
    display: flex;
    flex-direction: row;
    gap: 19px;
    border-radius: 10px;
    border: 1px;
    background-color: #fff;
    grid-column: span 2;
}

.services-card-img-div {
    min-width: 44px;
    min-height: 44px;
    max-width: 44px;
    max-height: 44px;
    background-color: rgba(245, 248, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
}

.services-card-img-div img {
    width: 24px;
    height: 24px;
}

.services-card-heading {
    font-family: 'inter';
    font-weight: 600;
    font-size: 19.77px;
    line-height: 23.73px;
    color: #252432;
}

.services-card-text {
    font-family: 'inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #8987A1;
}

.blue-rectangle {
    background-color: rgba(91, 84, 255, 1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.two-cols div:first-child {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.two-rows div:first-child {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

@media (max-width: 1200px) {

    .services-wrapper {
        padding: 0px 80px;
    }

    .services-card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {

    .services-wrapper {
        padding: 0px 40px;
    }

    .services-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .two-rows {
        grid-row: unset;
    }

    .two-cols {
        grid-column: unset;
        width: 100%;
    }

    .blue-rectangle {
        width: 100%;
    }
}

@media (max-width: 768px) {

    .services-wrapper {
        padding: 0px 20px;
    }

    .services-card-container {
        grid-template-columns: 1fr;
    }

    .two-rows {
        grid-row: unset;
    }

    .two-cols {
        grid-column: unset;
        width: 100%;
    }

    .blue-rectangle {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .services-wrapper {
        padding: 0px 15px;
    }
}

/* How it Works  */

.how-it-works-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 130px 20px 0px 20px;
}

.how-it-works-top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 290px;
}

.arrow-container {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-container div {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-container div img {
    width: 24px;
    height: 24px;
}

.text-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-image: url("assets/Untitled@3-1536x735 1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}

.text-container p:first-child {
    font-family: "inter";
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    color: rgba(37, 36, 50, 1);
}

.text-container p:last-child {
    font-family: inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(137, 135, 161, 1);
}

.how-it-works-bottom {
    width: 100%;
    max-height: 618px;
    overflow: hidden;
    margin-top: -50px;
}

.carousel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    transition: transform 0.5s ease;
}

.carousel-item {
    padding: 35px;
    background-color: #fff;
    border-radius: 10px;
}

.carousel-item:first-child,
.carousel-item:last-child {
    width: 25%;
}

.carousel-item:nth-child(2) {
    width: 50%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

#second-img {
    opacity: 80%;
}

/* Media Queries */

@media (max-width: 480px) {
    .arrow-container {
        visibility: hidden;
    }

    .carousel {
        flex-direction: column;
        align-items: center;
    }

    .carousel-item {
        min-width: 100%;
        margin-bottom: 20px;
    }

    .how-it-works-top {
        height: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 0px;
    }

    .arrow-container {
        display: none;
    }

    .text-container {
        width: 100%;
        padding-bottom: 60px;
    }

}

/* Review Section  */
.review-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 86px 0px;
}

.review-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 409px;
    max-height: 83px;
    border-radius: 22px;
    border: 1px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.review-inner div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-inner div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    gap: 5px;
}

.review-rating {
    font-family: 'inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 19.2px;
    color: rgba(37, 36, 50, 1);
}

.review-count {
    font-family: 'inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: rgba(137, 135, 161, 1);
}

/* added media queries for responsiveness */
@media (max-width: 768px) {
    .review-inner {
        flex-direction: column;
        gap: 10px;
    }

    .review-inner div:nth-child(1) {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .review-inner {
        padding: 10px;
    }

    .review-rating {
        font-size: 14px;
    }

    .review-count {
        font-size: 14px;
    }
}

/* Pricing Section  */

/* index.css file */

.pricing-wrapper {
    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.pricing-inner {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.pricing-left-col {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.left-upper-section {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    gap: 20px;
    width: 70%;
}

.left-upper-section p:first-child {
    font-family: 'raleway';
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    color: rgba(37, 36, 50, 1);
}

.left-upper-section p:last-child {
    font-family: 'inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(137, 135, 161, 1);
}

.left-lower-section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
    border-radius: 20px;
}

.left-lower-section p {
    font-family: 'raleway';
    font-weight: 700;
    font-size: 34.07px;
    line-height: 40.88px;
    color: rgba(37, 36, 50, 1);
}

.left-lower-section button {
    max-width: 335px;
    height: 60px;
    border-radius: 10px;
    background-color: rgba(78, 71, 255, 1);
    border: none;
    font-family: 'raleway';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}

.pricing-right-col {
    width: 60%;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
}

.right-upper-section {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 20px;
    gap: 30px;
    width: 70%;
}

.right-upper-section p:first-child {
    font-family: 'raleway';
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: rgba(37, 36, 50, 1);
}

.right-upper-section p:last-child {
    font-family: 'inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(137, 135, 161, 1);
}

.right-middle-section {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 0px 0px 20px;
    gap: 120px;
}

.right-middle-section>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-middle-section>div div {
    display: flex;
    gap: 15px;
    align-items: center;
}

.right-middle-section>div div img {
    width: 18px;
    height: 18px;
    color: rgba(37, 36, 50, 1);
}

.right-middle-section>div div p {
    font-family: 'inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 25.2px;
    color: rgba(37, 36, 50, 1);
}

.right-lower-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(245, 248, 255, 1);
    border-radius: 10px;
    padding: 25px 45px;
}

.bold {
    font-family: 'inter';
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    color: rgba(37, 36, 50, 1);
}

.faint {
    font-family: 'inter';
    font-weight: 400;
    font-size: 30px;
    line-height: 72px;
    color: rgba(137, 135, 161, 1);
}

.right-lower-section div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive styles */

@media (max-width: 1200px) {
    .pricing-inner {
        width: 80%;
    }

    .pricing-left-col {
        width: 45%;
    }

    .pricing-right-col {
        width: 55%;
    }
}

@media (max-width: 992px) {
    .pricing-inner {
        width: 90%;
    }

    .pricing-left-col {
        width: 50%;
    }

    .pricing-right-col {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .pricing-inner {
        flex-direction: column;
    }

    .pricing-left-col {
        width: 100%;
    }

    .pricing-right-col {
        width: 100%;
    }

    .right-middle-section {
        flex-direction: column;
        gap: 40px;
    }

    .right-middle-section>div {
        flex-direction: row;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .pricing-inner {
        padding: 20px;
    }

    .left-upper-section {
        padding-top: 0px;
    }

    .left-lower-section {
        padding: 20px;
    }

    .right-upper-section {
        padding: 20px 0px 0px 20px;
    }

    .right-middle-section {
        align-items: flex-start;
    }

    .right-middle-section div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .right-middle-section div div {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .right-lower-section {
        padding: 20px 30px;
    }
}

/* pricing end */

.spring {
    position: absolute;
    mix-blend-mode: color-burn;
    width: 50%;
}

.spring img {
    max-width: 563px;
    width: 100%;
}

/* Frequently asked question section  */

.faq-container {
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    padding: 20px;
}

.faq-header {
    text-align: center;
    margin-bottom: 40px;
}

.faq-header p {
    font-size: 60px;
    line-height: 72px;
    font-family: 'raleway';
    font-weight: 700;
    color: #252433;
}

.faq-questions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.question-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    color: #252433;
}

.question p {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    font-family: 'raleway';
    cursor: pointer;
}

.question img {
    width: 24px;
    height: 24px;
}

.plus-icon {
    display: block;
    cursor: pointer;
}

.minus-icon {
    display: none;
    cursor: pointer;
}

.answer {
    display: none;
    padding: 20px;
}

.answer.active {
    display: block;
}


.question.active .plus-icon {
    display: none;
}

.question.active .minus-icon {
    display: block;
}


/* Responsive Styles */

@media (max-width: 768px) {
    .faq-container {
        display: inline;
    }

    .faq-header p {
        font-size: 24px;
    }

    .question-card {
        padding: 15px;
    }

    .question {
        font-size: 16px;
    }

    .answer p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .faq-container {
        margin: 50px auto;
    }

    .faq-header p {
        font-size: 18px;
    }

    .question-card {
        padding: 10px;
    }

    .question {
        font-size: 14px;
    }

    .answer p {
        font-size: 12px;
    }

    .bold {
        font-size: 36px;
    }
}


.hr {
    border-top: 2px solid rgb(229, 225, 241);
    margin-top: 125px;
    margin-bottom: 125px;

}

.bottomstylerelative {
    position: relative;
    width: 100%;
    bottom: 0;
}


.spring2 {
    position: absolute;
    top: -100px;
    right: 50px;
    mix-blend-mode: color-burn;
    z-index: -1;
}

.coloredanim {
    position: absolute;
    top: 100%;
    bottom: 0px;
    width: 100%;
    min-height: 1400px;
    background-image: url("assets/Group\ 27169.svg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}


.flower2 {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 200px;
    mix-blend-mode: color-burn;
    z-index: -1;
}

.flower2 img {
    max-height: 500px;
}

@media only screen and (max-width: 1200px) {
    .flower2 img {
        max-height: 400px;
    }
}

@media only screen and (max-width: 768px) {
    .flower2 img {
        max-height: 400px;
    }
}

@media only screen and (max-width: 480px) {
    .flower2 img {
        width: 100%;
        max-height: 400px;
    }
}

/* Contact Section  */

.contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 0;
}

.contact-form-container {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
}

.contact-form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 80px;
    gap: 10px;
}

form button {
    width: 100%;
    height: 62px;
    background-color: rgba(78, 71, 255, 1);
    border: none;
    border-radius: 10px;
    text-align: center;
    font-family: 'raleway';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    margin-top: 20px;
}

form input {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    border: 1px solid rgba(214, 221, 237, 1);
    background-color: rgba(245, 248, 255, 1);
    padding: 10px 0px 0px 30px;
}

form textarea {
    width: 100%;
    height: 222px;
    border: 1px solid rgba(214, 221, 237, 1);
    border-radius: 10px;
    background-color: rgba(245, 248, 255, 1);
    padding: 10px 0px 0px 30px;
    resize: none;
}

.contact-form-container>p {
    font-family: 'raleway';
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    color: rgba(37, 36, 50, 1);
}

form label {
    font-family: 'inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 21.6px;
    color: rgba(37, 36, 50, 1);
    margin-top: 5px;
}

.contact-form-container input::placeholder {
    font-family: 'inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(137, 135, 161, 1);
}

.contact-form-container textarea::placeholder {
    font-family: 'inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(137, 135, 161, 1);
}

/* added media queries for responsiveness */
@media (max-width: 768px) {
    .contact-form-container {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .contact-form-container {
        width: 90%;
    }

    form input,
    form textarea {
        height: 50px;
    }

    form button {
        height: 50px;
    }
}

/* Bottom Section  */

.responsive-bottom-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.responsive-bottom-container {
    width: 85%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 70px;
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(246, 249, 255, 1));
    border-radius: 40px;
    border: 1px solid rgba(214, 221, 237, 1);
}

.responsive-bottom-container>div:first-child {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 37px;
    font-family: 'inter';
    font-weight: 400;
    line-height: 24px;
    color: rgba(137, 135, 161, 1);
}

.responsive-bottom-container>div:last-child {
    height: 100%;
}

.responsive-bottom-container>div:first-child>div:nth-child(3) {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
}

.responsive-bottom-container a {
    text-decoration: none;
    font-family: 'inter';
    font-weight: 400;
    line-height: 24px;
    color: rgba(137, 135, 161, 1);
}

.responsive-bottom-container>div:last-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 70px;
}

.responsive-bottom-container>div:last-child>.nav-links {
    padding: 0px;
}

.responsive-bottom-container>div:last-child>div:last-child {
    display: flex;
    gap: 40px;
    margin-top: 90px;
}

/* Responsive styles */

@media (max-width: 1200px) {
    .responsive-bottom-container {
        padding: 50px 50px;
    }

    .responsive-bottom-container>div:first-child {
        width: 50%;
    }

    .responsive-bottom-container>div:last-child {
        gap: 50px;
    }
}

@media (max-width: 992px) {
    .responsive-bottom-container {
        padding: 30px 30px;
    }

    .responsive-bottom-container>div:first-child {
        width: 60%;
    }

    .responsive-bottom-container>div:last-child {
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .responsive-bottom-container {
        flex-direction: column;
        padding: 20px 20px;
    }

    .responsive-bottom-container>div:first-child {
        width: 100%;
    }

    .responsive-bottom-container>div:last-child {
        gap: 20px;
    }

    #responsivelast {
        justify-content: center;
        align-items: center;
    }
    #socialicons{
        margin: 0px;
    }
}

@media (max-width: 576px) {
    .responsive-bottom-container {
        padding: 20px 20px;
    }

    .responsive-bottom-container>div:first-child {
        gap: 10px;
    }

    .responsive-bottom-container>div:last-child {
        gap: 10px;
    }
}